body {
    margin: 0;
    background-color: #323232;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

h1 {
    color: white;
    margin: 32px 0px;
}

.player-display {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.player {
    display: flex;
    align-items: center;
}

.winner {
    text-decoration: underline 2px red;
    text-underline-offset: 4px;
}

#content {
    position: relative; /* Setze position auf relative für das Spielfeld-Container-Div */
}

table {
    border-collapse: collapse;
    margin: 32px;
}

td {
    width: 100px; /* Größere Breite für jedes Feld */
    height: 100px; /* Größere Höhe für jedes Feld */
    text-align: center;
    vertical-align: center;
    font-size: 48px; /* Größere Schriftgröße */
    font-weight: bold;
    border: 5px solid white;
}

td:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

tr:first-child td {
    border-top: none;
}

tr:last-child td {
    border-bottom: none;
}

td:first-child {
    border-left: none;
}

td:last-child {
    border-right: none;
}

.winning-line {
    position: absolute;
    height: 5px;
    transform-origin: 0% 50%;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 32px;
    margin-bottom: 32px;
}

button:hover {
    background-color: #45a049;
}
